<div class="homeContainer">
    <div class="welcoming">
        <marquee behavior="" direction="left"> <h1>Bienvenue sur la plateforme d'administration <span>d'AHOKO RENT</span></h1> </marquee>

        <div class="inofs">
            <div class="user">{{userState.email}}  (
                <span *ngIf = "userState.level === '0'">Administrateur</span>
                <span *ngIf = "userState.level === '1'">Modérateur</span>
                ) 
            </div>

            <div class="time">

            </div>
        </div>
    </div>

    <div class="menus">
        <div class="container">
            <a class="menuItem" *ngFor = "let menu of appConfig.navBarConfig.menus" [routerLink]="'/' + menu.route" [matTooltip]="menu.display" [ngStyle]="{'background-color': '#494949'}">
                <div class="icon">
                    <mat-icon>{{menu.icon}}</mat-icon>
                </div>

                <div class="label">
                    {{menu.display}}
                </div>
            </a>
        </div>
    </div>
</div>
