<div class="modalTitle">
    {{modalTitle}}
</div>


<div class="modalContainer" *ngIf = " modalRoot === 'editAdmin' "> 
    <app-editadministrator
    [datas] = "modalDatas"
    ></app-editadministrator>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'deleteAdmin' "> 
    <app-deleteadministrator
    [datas] = "modalDatas"
    ></app-deleteadministrator>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'createAdmin' "> 
    <app-createadministrator
    [datas] = "modalDatas"
    ></app-createadministrator>
</div>


<div class="modalContainer" *ngIf = " modalRoot === 'createBrand' "> 
    <div class="menu">
        <div class="menuItem"
        *ngFor = "let m of menus2"
        (click) = "active = m.id"
        [class.active] = "active === m.id"
        >
            {{m.title}}
        </div>
    </div>
    <app-createbrand
    *ngIf = "active === 0"
    [datas] = "modalDatas"
    ></app-createbrand>

    <app-createmodel
    *ngIf = "active === 1"
    [datas] = "modalDatas"
    ></app-createmodel>
</div>


<div class="modalContainer" *ngIf = " modalRoot === 'deleteBrand' "> 
    <app-deletebrand
    [datas] = "modalDatas"
    ></app-deletebrand>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'deleteModel' "> 
    <app-deletemodel
    [datas] = "modalDatas"
    ></app-deletemodel>
</div>


<div class="modalContainer" *ngIf = " modalRoot === 'createCartype' "> 
    <app-createcartype
    [datas] = "modalDatas"
    ></app-createcartype>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'deleteCartype' "> 
    <app-deletecartype
    [datas] = "modalDatas"
    ></app-deletecartype>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'createGearbox' "> 
    <app-creategearbox
    [datas] = "modalDatas"
    ></app-creategearbox>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'deleteGearbox' "> 
    <app-deletegearbox
    [datas] = "modalDatas"
    ></app-deletegearbox>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'createCaracteristic' "> 
    <app-createcaracteristic
    [datas] = "modalDatas"
    ></app-createcaracteristic>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'deleteCaracteristic' "> 
    <app-deletecaracteristic
    [datas] = "modalDatas"
    ></app-deletecaracteristic>
</div>


<div class="modalContainer" *ngIf = " modalRoot === 'createCar' "> 
    <app-createcar
    [datas] = "modalDatas"
    ></app-createcar>
</div>

<div class="modalContainer" *ngIf = " modalRoot === 'editCar' "> 
    <app-editcar
    [datas] = "modalDatas"
    ></app-editcar>
</div>